Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# JetBrains Rider
.idea/
*.DotSettings.user

#Asset
Content/Showcase/
Content/ArtFashionAutomotiveGal
ArtFashionAutomotiveGal
Content/Scanned3DPeoplePack
Content/Zombie_Pack
Content/CreepyAnimatronicAnims
Content/BSP_ZombieAnims
Content/InteractiveBook
Content/HorrorAnimPack
Content/sA_Bloodymegapack
Content/Dialogue_mocap
