Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# JetBrains Rider
.idea/
*.DotSettings.user

#Asset
Content/Scanned3DPeoplePack
Content/CreepyAnimatronicAnims
Content/BSP_ZombieAnims
Content/InteractiveBook
Content/HorrorAnimPack
Content/PostProcessProPack
Plugins/Developer/RiderLink

Content/YJ/Map/HWM_map_C.umap
