Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# JetBrains Rider
.idea/

#Asset
Content/Showcase/
Content/ArtFashionAutomotiveGal
ArtFashionAutomotiveGal
